.Deliver{
    background-color: rgba(139, 47, 47, 0.836);
}
.Logo{
    color: pink;
}
.Menu-ask{
    text-align: center;
    font-size: 40px;
    margin-bottom: 5rem !important;
    font-family: 'Trebuchet MS';
}